* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

:after,
:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none;
}

html,
body,
ng-view,
.page-movies {
    height: 100%;
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #efefef;
    font-family: 'Roboto', sans-serif;
    // -webkit-font-smoothing: antialiased;
    // text-rendering: optimizeLegibility;
}

section {
    margin-bottom: 60px;
}

section:last-child {
    margin-bottom: 0;
}

ng-view {
    display: block;
}

// .page-movies.ng-hide-add,
// .page-movies.ng-hide-remove {
//     position: absolute;
//     top: 0;
//     width: 100%;
//     z-index: 8888;
//     -webkit-transition: opacity .4s ease-out;
//     transition: opacity .4s ease-out;
//     will-change: opacity;
// }
//
// .page-movies.ng-hide-add {
//     opacity: 1;
//     -webkit-transition-timing-function: ease-in;
//     transition-timing-function: ease-in;
// }
//
// .page-movies.ng-hide-add.ng-hide-add-active {
//     opacity: 0;
// }
//
// .page-movies.ng-hide-remove {
//     opacity: 0;
// }
//
// .page-movies.ng-hide-remove.ng-hide-remove-active {
//     opacity: 1;
// }

.page-movie-detail {
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute !important;
    z-index: 9999;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;

    nav {
        display: -webkit-flex;
        display: flex;
        -webkit-align-items: center;
        align-items: center;
        position: fixed;

        svg {
            cursor: pointer;

            circle {
                fill: white;
                opacity: 0;
            }

            path {
                fill: white;
            }
        }
    }

    .scroller {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        overflow-y: scroll;
    }
}

.page-movie-detail.ng-hide-add,
.page-movie-detail.ng-hide-remove {
    -webkit-transition: -webkit-transform .4s ease-out;
    transition: transform .4s ease-out;
    will-change: transform;
}

.page-movie-detail.ng-hide-remove {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
}

.page-movie-detail.ng-hide-remove.ng-hide-remove-active {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.page-movie-detail.ng-hide-add {
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.page-movie-detail.ng-hide-add.ng-hide-add-active {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
}

.home.ng-animate {
    position: absolute;
    z-index: 8888;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-transition: opacity .4s ease-out;
    transition: opacity .4s ease-out;
    will-change: opacity;
}

.home.ng-enter {
    opacity: 0;
}

.home.ng-enter-active {
    opacity: 1;
}

.home.ng-leave {
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    opacity: 1;
}

.home.ng-leave-active {
    opacity: 0;
}

.detail {
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}

.detail.ng-animate {
    position: relative;
    z-index: 8889;
    -webkit-transition: -webkit-transform .4s ease-out;
    transition: transform .4s ease-out;
    will-change: transform;
}

.detail.ng-enter {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
}

.detail.ng-enter-active {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.detail.ng-leave {
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.detail.ng-leave-active {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
}

nav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 9999;
    color: white;
    padding: 0 16px;
    font-family: 'Roboto', sans-serif;

    h1 {
        font-size: 24px;
        font-weight: 300;
        margin: 0;
        line-height: 60px;

        span {
            color: rgb(252, 100, 4);
        }
    }
}

.movies {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.movie.page {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0) scale(0.75);
    transform: translate3d(0, 0, 0) scale(0.75);
    will-change: transform, opacity;
}

.movie {
    display: -webkit-flex;
    display: flex;
    background-color: black;
    background-size: cover;
    background-position: center;

    .movie-content,
    .poster,
    .title {
        width: 100%;
        display: -webkit-flex;
        display: flex;
        -webkit-align-self: center;
        align-self: center;
    }

    .movie-content {
        min-height: 285px;
    }

    .poster,
    .title {
        padding: 12px;
        width: 100%;
    }

    .poster {
        height: 500px;

        .poster-bg {
            width: 100%;
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;

            img {
                visibility: hidden;
            }
        }
    }

    .title {
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: 400;
        display: block;

        h1 {
            font-size: 20px;
            margin-bottom: 0;
        }

        .score {
            font-family: 'Roboto', sans-serif;
            font-weight: 100;
            font-size: 60px;
        }
    }
}

.no-touch .movie {
    -webkit-transform: translate3d(0, 0, 0) scale(0.5);
    transform: translate3d(0, 0, 0) scale(0.5);
}

.no-touch .movie,
.no-touch .movie.hide {
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.no-touch .movie.detail {
    -webkit-transform: none;
    transform: none;
}

.movie.right {
    z-index: 2;
    opacity: 1;
    -webkit-transform: translate3d(-100%, 0, 0) scale(1);
    transform: translate3d(-100%, 0, 0) scale(1);
}

.movie.show {
    z-index: 1;
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0) scale(1);
    transform: translate3d(0, 0, 0) scale(1);
}

.movie.show-back {
    z-index: 2;
}

.movie.hide {
    opacity: 1;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    -webkit-transition: -webkit-transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out;
    z-index: 1000;
}

.movie.hide-back {
    opacity: 0.5;
    -webkit-transform: scale(0.75);
    transform: scale(0.75);
}

.movie.animate {
    -webkit-transition: -webkit-transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

// .page {
//     position: relative;
// }

.page-movie-detail {
    background-color: white;
}

.movie.detail {
    padding-top: 60px;
    overflow: hidden;

    .poster {
        height: auto;
    }
}

.content {
    background: white;
    color: #333;
    padding: 16px;
    max-width: 900px;
    margin: auto;

    h2 {
        font-weight: 300;
        border-bottom: 1px solid #efefef;
        padding-bottom: 16px;
    }
}

.cast-member {
    border-bottom: 1px solid #efefef;
    padding: 16px 0;

    &.first {
        padding-top: 0;
    }

    &.last {
        border-bottom: 0;
    }

    .character {
        color: #999;
    }
}

.indicators {
    display: -webkit-flex;
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
    -webkit-justify-content: center;
    justify-content: center;
    z-index: 1001;
}

ui-page-indicators {
    display: inline-block;

    .circle {
        display: inline-block;
        background-color: rgba(255, 255, 255, 0.5);
        width: 8px;
        height: 8px;
        margin: 4px;
        border-radius: 50%;
        transition: background-color 0.5s ease;

        &.active {
            background-color: white;
        }
    }
}

.movie.detail {
    background-color: black;

    .poster-bg {
        position: relative;

        svg {
            cursor: pointer;
            fill: white;
            position: absolute;
            top: ~"calc(50% - 24px)";
            left: ~"calc(50% - 24px)";
        }
    }
}

embed-video {
    display: block;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;

    iframe {
        position: absolute;
    	top: 0;
    	left: 0;
    	width: 100%;
    	height: 100%;
    }
}

.svg-ic_close_24px-dims {
    width: 24px;
    height: 24px;
}

.trailer {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;

    .bg {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.95);
    }

    embed-video {
        margin-top: 50%;
    }
}

.trailer.ng-animate {
    -webkit-transition: opacity .4s ease-out;
    transition: opacity .4s ease-out;
    will-change: opacity;
}

.trailer.ng-enter {
    opacity: 0;
}

.trailer.ng-enter-active {
    opacity: 1;
}

.trailer.ng-leave {
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    opacity: 1;
}

.trailer.ng-leave-active {
    opacity: 0;
}

@media (min-width: 600px) {
    .movie {
        .title {
            h1 {
                font-size: 30px;
            }

            .score {
                font-size: 90px;
            }
        }
    }

    .trailer embed-video {
        position: absolute;
        margin-top: 0;
        width: 600px;
        height: 400px;
        top: ~"calc(50% - 200px)";
        left: ~"calc(50% - 300px)";
        padding-bottom: 0;
        padding-top: 0;

        iframe {
            width: 600px;
            height: 400px;
        }
    }
}
