<div class="page page-movie-detail">
    <nav>
        <h1 style="display: inline-block;" ng-click="goBack()">Back</h1>
    </nav>

    <div class="movie detail" style="background-image: url(images/poster_bg.jpg);">
        <div class="movie-content">
            <div class="poster">
                <div class="poster-bg" style="background-image: url(images/poster.jpg);">
                    <img src="images/poster.jpg">
                </div>
            </div>
            <div class="title">
                <h1>How To Train Your Dragon 2</h1>
                <div class="score">92%</div>
            </div>
        </div>
    </div>

    <div class="content">
        <section>
            <h2>Critics Consensus</h2>
            <p>Exciting, emotionally resonant, and beautifully animated, How to Train Your Dragon 2 builds on its predecessor's successes just the way a sequel should.</p>
        </section>

        <section>
            <h2>Cast</h2>

            <div class="cast-member first">
                <div class="actor">Jay Baruchel</div>
                <div class="character">Hiccup</div>
            </div>
            <div class="cast-member">
                <div class="actor">Gerard Butler</div>
                <div class="character">Stoic</div>
            </div>
            <div class="cast-member">
                <div class="actor">America Ferrera</div>
                <div class="character">Astrid</div>
            </div>
            <div class="cast-member">
                <div class="actor">Jonah Hill</div>
                <div class="character">Snotlout</div>
            </div>
        </section>
    </div>
</div>
