<div class="movie page" ng-style="{'background-image': 'url({{movie.images.bg}})'};" ng-repeat="movie in data">
    <div class="movie-content">
        <div class="poster">
            <img class="animated-pages" ng-src="{{movie.images.poster}}" ng-click="goToMovie()">
        </div>
        <div class="title" ng-click="goToMovie()">
            <h1>{{movie.title}}</h1>
            <div class="score">{{movie.ratings.critics_score}}</div>
            <div><strong>{{movie.mpaa_rating}}, {{movie.duration}}</strong></div>
        </div>
    </div>
</div>
